@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100);

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background: #f4f4f4;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 100;
}

.text-light {
    color: #f4f4f4;
}

.container {
    width: 100%;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    height: 100vh;
}

.flex-align-bottom {
    align-self: flex-end;
}

.flex-align-center {
    align-self: center;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.splash {
    background: linear-gradient(#a90329, #8f0222);
    color: #f4f4f4;
}

.card {
    padding: 25px;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow: 0 0 15px 0 rgba(86,86,86,1);
    -moz-box-shadow: 0 0 15px -5px rgba(86,86,86,1);
    box-shadow: 0 0 15px 0 rgba(86,86,86,1);
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 15px;
    font-size: 15pt;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;

    -webkit-box-shadow: 0 0 5px 0 rgba(86,86,86,1);
    -moz-box-shadow: 0 0 5px 0 rgba(86,86,86,1);
    box-shadow: 0 0 5px 0 rgba(86,86,86,1);

    background: #e3e3e3;
}

/* Media Utilities for a responsive breaking point @ 768px */
@media (min-width: 768px) {
    .flex-container, .container {
        padding-left: 75px;
        padding-right: 75px;
    }
}