@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100);

body {
    font-family: 'Roboto', sans-serif;
    color: #586e75;
    background: #fdf6e3;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 100;
}

.bg-inverse {
    background: #002b36;
    color: #93a1a1;
}

.text-success {
    color: #859900;
}

.text-danger {
    color: #dc322f;
}

.bg-success {
    background: #859900;
    color: #fdf6e3;
}

.bg-danger {
    background: #dc322f;
    color: #fdf6e3;
}

.container {
    width: 100%;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-wrap: wrap;

    min-height: 100vh;
}

.flex-align-bottom {
    align-self: flex-end;
}

.flex-align-center {
    align-self: center;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.splash {
    background: linear-gradient(#dc322f, #cb4b16);
    color: #fdf6e3;
}

.card {
    padding: 20px;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow: 0 0 15px 0 #657b83;
    -moz-box-shadow: 0 0 15px -5px #657b83;
    box-shadow: 0 0 15px 0 #657b83;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 20px;
    font-size: 15pt;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;

    -webkit-box-shadow: 0 0 5px 0 #657b83;
    -moz-box-shadow: 0 0 5px 0 #657b83;
    box-shadow: 0 0 5px 0 #657b83;

    background: #eee8d5;

    color: #586e75;
}

.flex-grow-1, .flex-grow-2 {
    margin: 15px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

label {
    display: flex;
    align-items: center;
    font-size: 15pt;
    padding: 10px;
}

input {
    flex-grow: 1;
    font-size: 15pt;
    padding: 5px;
    margin-left: 10px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Media Utilities for a responsive breaking point @ 768px */
@media (min-width: 768px) {
    .flex-container, .container {
        padding-left: 75px;
        padding-right: 75px;
    }
}

.mymenu {
  text-transform: uppercase;
  text-align: center;
  top: 0px;
  left: 0px;
  z-index: 9999;
  position: fixed;
  width: 100%;
  background-color: white;
  transition-duration: 1s;
}

.mymenu ul{
  list-style-type: none; /* we need this to remove the bullets*/
  display: block;
  width: 800px;
  margin: 0;
  padding: 0;
}

.mymenu li{
  float: left; /* allows navigation to be displayed in one line*/
}

.mymenu li a{
  display: block;
  color: black;
  letter-spacing: .1em;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.mymenu li a:hover{
  color: #586e75;
}

.dashboard {
    margin-top: 100px;
}
